body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, SF mono, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: SF mono, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
td,
th,
h5,
button,
a,
p {
  font-family: SF mono;
  margin-bottom: 0.5rem !important;
}
a {
  font-size: 1em;
  font-weight: 800;
}
p {
  font-size: 1.1em;
  font-weight: 800;
}
th {
  font-size: 1em;
  font-weight: 750;
}
h5 {
  font-size: 1.3em;
  font-weight: 800;
}
.tableContainer {
  position: relative !important;
  padding-top: 0.7rem !important;
  font-size: 1em !important;
}

.resultNumber,
.resultAverage {
  font-weight: 850 !important;
}

.standard-table {
  background: #fff;
  padding: 1px;
  margin: 1px;
  font-size: 12px;
  overflow: hidden;
  text-align: left;
  color: rgb(86, 86, 86);
  -moz-user-select: none;
  font-size: 11px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  background-clip: padding-box;
  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
  border-left: 0px none;
}

.map-legend {
  background: #fff;
  padding-left: 10px !important;
  margin: 5px;
  font-size: 12px;
  overflow: hidden;
  text-align: left;
  color: rgb(86, 86, 86);
  -moz-user-select: none;
  font-size: 11px;
  background-color: rgb(255, 255, 255);
  padding: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
  border-left: px none;
}

.map-legend-tittle {
  font-weight: "bold" !important;
  font-size: 12 !important;
}

.map-legend-value {
  font-size: 12 !important;
  padding-left: 10 !important;
}

.parameter-row {
  padding-left: 20px !important;
  margin: "0 0 0 0" !important;
  margin-bottom: 0 !important;
}

.legend-color {
  height: 12px;
  width: 12px;
  margin-right: 3px;
  float: left;
  border-radius: 12px;
}

.legend-color-red {
  background: #ff7961;
}

.legend-color-blue {
  background: #e5ffff;
}

.legend-color-green {
  background: #ccff90;
}

.legend p {
  margin: 0 0 0 0 !important;
}

.legend-btn {
  background-color: #e5ffff;
  font-family: SF mono;
}

.backlog-btn-nav {
  position: relative;
  margin: 0 0 0 0 !important;
}

.download-btn {
  position: absolute;
  right: 0;
  border-radius: 12.5%;
  /* margin-right: 2px; */
}

.standard-table p {
  margin-bottom: 0rem !important;
}


.theme-btn{
  background: #FFFBFA;
  color: #442C2E;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 40%;
  font-size: 10;
  padding: 0rem !important;
  line-height: 1!important;
}
